name: Run Laravel Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [main]

jobs:
  laravel-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.2
          #extensions: mbstring, sodium, pdo_sqlite
          coverage: none
      - name: Use .env.pipeline for tests
        run: cp .env.pipeline .env

      - name: Install Composer dependencies
        run: composer install --prefer-dist --no-interaction --no-progress

      - name: Generate application key
        run: php artisan key:generate

      - name: Run migrations
        run: php artisan migrate --env=testing --force

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'
          
      - name: Install NPM dependencies
        run: npm ci
      - name: Build frontend assets (Vite)
        run: npm run build

      - name: Run tests
        run: php artisan test
